<div class="container">
  <% if user_signed_in?  %>
    <p>Welcome back, <a href="mailto:<%= current_user.email %>"><%= current_user.name %></a>!</p>
  <% else  %>
    <p>Please Sign in to see more</p>
    <p><%= link_to 'Sign in.', user_google_oauth2_omniauth_authorize_path %></p>
  <% end %>
</div>
