<p class="lead">All Books</p>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Author</th>
        <th>Borrowed?</th>
      </tr>
    </thead>
    <% @books.each do |book| %>
    <tbody>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.desc %></td>
        <td><%= book.author.full_name %></td>
        <td><%= link_to 'Show', book, :class => "btn btn-primary", :style => "color: #aaa" %></td>
        <% if book.borrowed? %>
          <td><span class="label label-danger">Checked out</span></td>
          <% if book.borrowed_by?(current_user) %>
            <td>return</td>
          <%end%>
        <% else %>
         <td><span class="label label-success">Available</span></td>
         <td>Borrow me!</td>
        <%end%>
      </tr>
    </tbody>
    <% end %>
  </table>
